[submodule "lib/gl-matrix"]
	path = lib/gl-matrix
	url = git@github.com:toji/gl-matrix
[submodule "lib/fetch"]
	path = lib/fetch
	url = git@github.com:github/fetch
[submodule "lib/promise-polyfill"]
	path = lib/promise-polyfill
	url = git@github.com:taylorhakes/promise-polyfill
